{% assign member = include.member %}
{% assign pos = member.position | downcase | split: ' ' | join: '-' %}

<article class="member{% if member.position %} {{ pos }}{% endif %}">
    {% if member.photo %}
    <img src="{{ member.photo }}" alt="Photo of {{ member.name }}" />
    {% else %}
    <div class="member-icon-wrapper">
        <span class="material-symbols-outlined member-icon">favorite</span>
    </div>
    {% endif %}

    <div class="member-info">
        <h3>{{ member.name }}</h3>

        {% if member.position %}
        <span class="member-position">{{ member.position }}</span>
        {% endif %}

        {% if member.alum %}
        <span class="member-alum">alum</span>
        {% endif %}

        {% if member.membership %}
        <span class="member-dates">{{ member.membership }}</span>
        {% endif %}
    </div>

    <div class="member-bio">
        {{ member.content | markdownify }}
    </div>
</article>
