body {
    font-family: $font-family-body;
    font-size: 16px;
    line-height: 1.5em;
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.page-container {
    width: 100%;
    max-width: 900px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    padding: 2em;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: $font-family-title;
    font-size: 2em;
    color: $primary-color;
    margin-bottom: 1em;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: $font-family-title;
    font-size: 1.5em;
    font-weight: bold;
    color: $primary-color-dark;
    padding-bottom: .5em;
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 3px solid $primary-color-light;
}

h3 {
    font-family: $font-family-title;
    font-size: 1.25em;
}

p, ol, ul {
    margin-bottom: 1em;
}

p:last-of-type {
    margin-bottom: 0;
}

a {
    color: #222;
}

iframe {
    margin: 2em 0;
}

.grid-wrapper {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;

    img {
        height: 50px;
        overflow: hidden;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

    .contact-icon {
        font-size: 2em;
        width: max-content;
        color: $wics-blue;
    }
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: 0;
        }
    }
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: $member-photo-height;
        width: $member-photo-height;
        border-radius: 100%;
        overflow: hidden;
    }
    .member-icon-wrapper {
        height: $member-photo-height;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .member-icon {
        font-size: 5em;
        width: max-content;
        color: $wics-blue;
    }
    .member-info {
        text-align: center;
        margin-top: 1em;
    }
    .member-position {
        font-size: .85em;
        color: #444;
    }
    .member-bio {
        margin-top: 1em;
    }
}
