$font-family-title: 'Merriweather Sans', sans-serif;
$font-family-body: 'Merriweather', Georgia;

$wics-blue: #70b1e2;

$primary-color: $wics-blue;
$primary-color-light: #c2ddf3;
$primary-color-dark: #1f6397;

$accent-color: #f4623a;
$accent-color-dark: #923a22;
$accent-color-light: #fbcfc3;
$accent-color-lightest: #fdefeb;

$member-photo-height: 120px;
