$font-family-title: 'Roboto Mono', Georgia, serif;
$font-family-body: 'Roboto', Helvetica, sans-serif;

$wics-blue: #70b1e2;

$primary-color: $wics-blue;
$primary-color-light: #c2ddf3;
$primary-color-dark: #1f6397;

$accent-color: #f4623a;
$accent-color-dark: #923a22;
$accent-color-light: #fbcfc3;
$accent-color-lightest: #fdefeb;

$member-photo-height: 120px;
$header-height: 200px;

$body-width-max: 900px;
$body-width-large: 700px;
$body-width-medium: 500px;
$body-width-small: 400px;

@mixin viewport-large {
    @media screen and (max-width: $body-width-large) {
        @content;
    }
}

@mixin viewport-medium {
    @media screen and (max-width: $body-width-medium) {
        @content;
    }
}

@mixin viewport-small {
    @media screen and (max-width: $body-width-small) {
        @content;
    }
}
