<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <div class="page-container">
        <body>
            {% include navbar.html %}
            <header class="content-wrapper">
                <h1>{{ page.title }}</h1>
            </header>
            <main class="content-wrapper">
                {{ content }}
            </main>
        </body>
    </div>
    <script>
        for (let stepTitle of document.getElementsByClassName('step-title')) {
            stepTitle.addEventListener('click', (e) => {
                const target = e.currentTarget;
                target.parentElement.classList.toggle('open');
            });
        }
    </script>
</html>
