*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Courier', sans-serif;
	color: #000;
	background: #6bade3;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

p {
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: center;
	align-content: center;
}

.container {
	width: 100vw;
	height: 100vh;
	padding-right: 15%;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 15%;
	border: 10px solid #fff;
	position: relative;
	vertical-align: middle;
	overflow: scroll;
	align-items: center;
}

.content {
	position: relative;
	padding-top: 5%;
}

.action {
	font-size: 1em;
	font-weight: bold;
	text-transform: lowercase;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 1em 1.5em;
	color: #000;
	border: 2px solid;
	border-radius: 20px;
	background: #fff;
	-webkit-flex: none;
	flex: none;
}

.header {
	padding: .5em .5em 0;
	text-align: center;
}

.header h1 {
	font-size: 3.5em;
	font-weight: 200em;
	color: #fff;
	line-height: 1;
	margin: 0.5em 0 0;
}

.header h1 span {
	color: black;
	font-size: 0.4em;
	display: block;
	padding: 0.5em;
	text-transform: lowercase;
}

@media screen and (max-width: 40em) {
	.action {
		font-size: .75em;
		display: block;
	}
	.header h1 {
		font-size: 2em;
	}
	p {
		font-size: 1em;
	}
}